<%= form_for @user, url: user_update_settings_path, method: 'POST', html: { class: 'form-group m-settings-form' } do |f| %>
	<h1 class="center-block">Settings</h1>
	<p><strong>Email address:</strong></p>
	<p><%= f.email_field :email, class: 'form-control' %></p>
	<p><strong>Please select which repos you would like to watch</strong></p>
	<%= f.select :repos, @repos, {}, { multiple: true, class: 'form-control' } %>
	<%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>