<h1>Settings</h1>
<p>Please enter the name of your Nanorwrimo GitHub repo</p>
<%= form_for @user, url: user_update_settings_path, method: 'POST' do |f| %>
	<%= f.text_field :repo %>
	<%= f.submit 'Update' %>
<% end %>