<ul>
	<% @snippets.each do |snippet| %>
		<li>
			<h3><%= snippet.commit_message %></h3>
			<p><%= snippet.created_at.to_formatted_s(:short) %></p>
			<p><%= simple_format(snippet.body) %></p>
			<p>Word count: <%= snippet.word_count %></p>
		</li>
		<hr />
	<% end %>
</ul>