<% @snippets.each do |snippet| %>
	<div class="well well-lg">
		<h2><%= snippet.commit_message %></h2>
		<p><strong><%= snippet.created_at.to_formatted_s(:short) %></strong></p>
		<p><strong>Word count: <%= snippet.word_count %></strong></p>
		<p><%= simple_format(snippet.body) %></p>
	</div>
<% end %>
